.filter-checkbox {
    margin-right: 5px;
}

.filter-modal {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.filter-modal.show {
    transform: scale(1);
    opacity: 1;
}

.filter-modal.hidden {
    transform: scale(0.8);
    opacity: 0;
}

#exportTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    table-layout: auto
}

#exportTable td {
    border: 1px solid #ddd;
}

#exportTable tr:hover {
    background-color: #f2f2f2;
}

.dataTables_scrollHead{
    border-radius: 3rem;
    border: 15rem solid #5e6b5e;
}

.style-button{
    margin-top: 10px; 
    font-weight: bold; 
    border: 1px solid #f7f7f7; 
    padding: 5px 10px; 
    cursor: pointer; 
    border-radius: 2rem; 
    background-color: white; 
    color: rgb(0, 0, 0);
}

.fi{
    color: yellow;
}