

.filter-modal {
    width: 200px;
    font-size: 14px;
}

.filter-checkbox {
    margin-right: 5px;
}

/*scrool*/
#exportTable th,
#exportTable td {
    max-width: 100px;
    white-space: nowrap;
}

.filter-modal {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.filter-modal.show {
    transform: scale(1);
    opacity: 1;
}
.filter-modal.hidden {
    transform: scale(0.8);
    opacity: 0;
}

#exportTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

#exportTable td {
    padding: 0.5rem;
    border: 1px solid #ddd;
}

#exportTable tr:hover {
    background-color: #f2f2f2;
}

