@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

.filter-modal {
    width: 200px;
    font-size: 14px;
}

.filter-checkbox {
    margin-right: 5px;
}

/*scrool*/
#exportTable th,
#exportTable td {
    max-width: 200px;
    overflow-x: auto;
    white-space: nowrap;
}

#exportTable th::-webkit-scrollbar,
#exportTable td::-webkit-scrollbar {
    height: 3px;
}

#exportTable th::-webkit-scrollbar-thumb,
#exportTable td::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
}

#exportTable th::-webkit-scrollbar-track,
#exportTable td::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}